{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
		"Koraxas Sen'Ra ",
		"Mariel San'rea",
		"Jabril Eth'Balar",
		"Sofiel Lo'Dara",
		"Arioch Sen'Sara",
		"Turiel El'nora",
		"Purah Son'Yeaa",
		"Karlel El'norah",
		"Izrail Kapu'Kapri"	]
    ]
  ]
}
