{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
		"Kola Den'Balar",
		"Erik Sen'Dar",
		"Rath Sol'bera",
		"Urdo San'sora",
		"Evola Bal'dara",
		"Tristan Sal'nora",
		"Cadog Bi'thell",
		"Skcar El'vera",
		"Viratus Ro'hana",
		"Albus Nora'Lo" ]
    ]
  ]
}
